footer {
    mix-blend-mode: normal;
    opacity: 0.3;
    border-top: 2px solid #42446E;
    display: flex;
    justify-content: space-between;
    align-items: center;
} .footer-icons {
     display: flex;
     gap: 15px;
     padding-top: 30px;
} .footer-icons i {
    color: rgb(180, 174, 174);
    font-size: 30px;
} .footer-text {
   padding-top: 30px;
} .footer-text h6 {
   color: rgb(180, 174, 174);
}